*{
    padding: 0;
    margin: 0;
}
.navbar{
    list-style: none;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    height: 62px;
    margin-top: 20px;
    display: flex;  
    position: sticky; 
    top: 0;
    background-color: white;
}
.navlink{
    text-decoration: none;
    color: black;
}
.navlink:hover{
    color: blueviolet;
}
.navbar_logo{
    padding-right: 80px;
    padding-left: 80px;
}
.navbar_child{
    align-items: center;
    font-size: 20px;
    width: 189px;
    height: 43px;
}
.online img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.online_status{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;

}
.questions{
    float: left;
    margin-top: 30px;
    height: 330px;
    width: 530px;
    background-color: #C4C4C4;
    border-radius: 76px;
    margin-left: 76px;
    overflow: hidden;



}
.information_right{
    float: right;
    margin-top: 30px;
    height: 330px;
    width: 530px;
    background-color: #C4C4C4;
    border-radius: 76px;
    margin-right: 76px;

}
.box_text{

    text-align: center;
    height: 330px;
    width: 530px;
    background-color: #C4C4C4;
    border-radius: 76px;
    overflow: hidden;
    overflow-y: auto;

}
.cpu_info{
    box-sizing: border-box;
    overflow: hidden;
    padding: 40px;
}
.cpu_info_head{
    clear: both;
    font-size: 16px;
    line-height: 35px;
    float: left;
    font-weight: 500;
}
.cpu_info_right{
    font-size: 18px;
    line-height: 35px;
    float: right;
    text-align: right;
    width: 150px;
    text-align: center;
    color: red;
}
.error{
    text-align: center;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: green;
    background-color: rgba(128, 128, 128, 0.171);
    border: 1px solid gray;
    border-radius: 5px;

}
.loding{
    font: 100px;
}
.ques_ans{
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column-reverse;
}
.ques_info{
    clear: both;
    font-size: 15px;
    line-height: 35px;
    float: left;
    font-weight: 500;
    text-align: center;
    width: 500px;
    color: rgb(14, 82, 2);

}
.recent_questions{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    position: sticky;
    background-color: #C4C4C4;
    top: 0;
    margin-top: 25px;
}
.oncircle{
    background-color: green;
    border-radius: 100px;
    height: 15px;
    width: 15px;
    outline: none;
}
.offcircle{
    background-color: rgb(128, 0, 0);
    border-radius: 100px;
    height: 15px;
    width: 15px;
    outline: none;
}
.load{
    display: block;
    margin-left: auto;
    margin-right: auto;
}